.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/1198507/pexels-photo-1198507.jpeg?cs=srgb&dl=pexels-grizzlybear-1198507.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
  }
  
  .form-content {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8); /* Adds a white background with some transparency */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .media-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .media-section img, .media-section video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .sign-up-form {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
    
  button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  
  .user-type-options {
    display: flex;
    gap: 80px;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  label {
    margin-top: 5px;
    margin-bottom: 5px;
  }